In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
import pickle

In [2]:
data=pd.read_csv('Data/Churn_Modelling.csv')
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [3]:
# Preprocess the data
data = data.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1)

In [4]:
# Encode categorical variables
label_encoder_gender = LabelEncoder()
data['Gender'] = label_encoder_gender.fit_transform(data['Gender'])

In [5]:
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,1,39,5,0.00,2,1,0,96270.64,0
9996,516,France,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,0,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,0,28,4,130142.79,1,1,0,38190.78,0

In [6]:
# One-hot encode 'Geography'
onehot_encoder_geo = OneHotEncoder(handle_unknown='ignore')
geo_encoded = onehot_encoder_geo.fit_transform(data[['Geography']]).toarray()
geo_encoded_df = pd.DataFrame(geo_encoded, columns=onehot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [7]:
# Combine one-hot encoded columns with original data
data = pd.concat([data.drop('Geography', axis=1), geo_encoded_df], axis=1)
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [8]:
# Split the data into features and target
X = data.drop('EstimatedSalary', axis=1)
y = data['EstimatedSalary']

In [9]:
## Split the data in training and tetsing sets
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [10]:
## Scale these features
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [ ]:
# Save the encoders and scaler for later use
with open('Model_files/label_encoder_gender.pkl', 'wb') as file:
    pickle.dump(label_encoder_gender, file)

with open('Model_files/onehot_encoder_geo.pkl', 'wb') as file:
    pickle.dump(onehot_encoder_geo, file)

with open('Model_files/scaler.pkl', 'wb') as file:
    pickle.dump(scaler, file)

#### ANN Regression Problem statement

In [11]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

2026-02-15 17:34:49.292527: I tensorflow/core/platform/cpu_feature_guard.cc:210] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [12]:
# Build the model
model = Sequential([
    Dense(64, activation='relu', input_shape=(X_train.shape[1],)),
    Dense(32, activation='relu'),
    Dense(1)  # Output layer for regression
])

## compile the model
model.compile(optimizer='adam',loss='mean_absolute_error',metrics=['mae'])

model.summary()

/home/dragon/.virtualenvs/nlp/lib/python3.12/site-packages/keras/src/layers/core/dense.py:106: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)
WARNING: All log messages before absl::InitializeLog() is called are written to STDERR
I0000 00:00:1771176897.344016   77719 gpu_device.cc:2020] Created device /job:localhost/replica:0/task:0/device:GPU:0 with 3582 MB memory:  -> device: 0, name: NVIDIA GeForce RTX 3060 Laptop GPU, pci bus id: 0000:01:00.0, compute capability: 8.6

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense (Dense)                   │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_1 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_2 (Dense)                 │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [13]:
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

# Set up TensorBoard
log_dir = "regressionlogs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)

In [14]:
# Set up Early Stopping
early_stopping_callback = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

In [15]:
# Train the model
history = model.fit(
    X_train, y_train,
    validation_data=(X_test, y_test),
    epochs=100,
    callbacks=[early_stopping_callback, tensorboard_callback]
)

Epoch 1/100

2026-02-15 17:35:18.260881: I external/local_xla/xla/service/service.cc:163] XLA service 0x7b4e38004a30 initialized for platform CUDA (this does not guarantee that XLA will be used). Devices:
2026-02-15 17:35:18.260951: I external/local_xla/xla/service/service.cc:171]   StreamExecutor device (0): NVIDIA GeForce RTX 3060 Laptop GPU, Compute Capability 8.6
2026-02-15 17:35:18.334224: I tensorflow/compiler/mlir/tensorflow/utils/dump_mlir_util.cc:269] disabling MLIR crash reproducer, set env var `MLIR_CRASH_REPRODUCER_DIRECTORY` to enable.
2026-02-15 17:35:18.691036: I external/local_xla/xla/stream_executor/cuda/cuda_dnn.cc:473] Loaded cuDNN version 91900

  6/250 ━━━━━━━━━━━━━━━━━━━━ 2s 11ms/step - loss: 105577.4154 - mae: 105577.4154

I0000 00:00:1771176921.406033   77972 device_compiler.h:196] Compiled cluster using XLA!  This line is logged at most once for the lifetime of the process.

250/250 ━━━━━━━━━━━━━━━━━━━━ 10s 19ms/step - loss: 100378.8047 - mae: 100378.8047 - val_loss: 98511.4922 - val_mae: 98511.4922
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 11ms/step - loss: 99553.8438 - mae: 99553.8438 - val_loss: 96820.3828 - val_mae: 96820.3828
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 12ms/step - loss: 96571.3359 - mae: 96571.3359 - val_loss: 92450.7891 - val_mae: 92450.7891
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 11ms/step - loss: 90733.9922 - mae: 90733.9922 - val_loss: 85266.3281 - val_mae: 85266.3281
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 11ms/step - loss: 82367.4062 - mae: 82367.4062 - val_loss: 76200.8984 - val_mae: 76200.8984
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 12ms/step - loss: 72848.8516 - mae: 72848.8516 - val_loss: 67198.3906 - val_mae: 67198.3906
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 12ms/step - loss: 63981.7305 - mae: 63981.7305 - val_loss: 59653.5859 - val_mae: 59653.5859
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 11ms/step - loss: 57375.4453 - mae: 57375.4453 - val_loss: 54737.5195 - val_mae: 54737.5195
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 11ms/step - loss: 53455.3867 - mae: 53455.3867 - val_loss: 52224.7031 - val_mae: 52224.7031
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 11ms/step - loss: 51621.3320 - mae: 51621.3320 - val_loss: 51370.0234 - val_mae: 51370.0234
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 11ms/step - loss: 50931.2891 - mae: 50931.2891 - val_loss: 51068.7695 - val_mae: 51068.7695
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 4s 14ms/step - loss: 50646.2617 - mae: 50646.2617 - val_loss: 50944.8086 - val_mae: 50944.8086
Epoch 13/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 12ms/step - loss: 50500.9258 - mae: 50500.9258 - val_loss: 50857.4492 - val_mae: 50857.4492
Epoch 14/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 12ms/step - loss: 50401.1445 - mae: 50401.1445 - val_loss: 50800.2148 - val_mae: 50800.2148
Epoch 15/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 12ms/step - loss: 50326.4102 - mae: 50326.4102 - val_loss: 50754.6406 - val_mae: 50754.6406
Epoch 16/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 12ms/step - loss: 50259.4062 - mae: 50259.4062 - val_loss: 50702.1172 - val_mae: 50702.1172
Epoch 17/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 12ms/step - loss: 50199.8945 - mae: 50199.8945 - val_loss: 50655.3516 - val_mae: 50655.3516
Epoch 18/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 4s 15ms/step - loss: 50143.5547 - mae: 50143.5547 - val_loss: 50615.4023 - val_mae: 50615.4023
Epoch 19/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 4s 15ms/step - loss: 50095.1641 - mae: 50095.1641 - val_loss: 50576.1367 - val_mae: 50576.1367
Epoch 20/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 12ms/step - loss: 50051.5195 - mae: 50051.5195 - val_loss: 50543.4375 - val_mae: 50543.4375
Epoch 21/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 12ms/step - loss: 50009.5664 - mae: 50009.5664 - val_loss: 50520.8828 - val_mae: 50520.8828
Epoch 22/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 11ms/step - loss: 49971.0312 - mae: 49971.0312 - val_loss: 50495.9570 - val_mae: 50495.9570
Epoch 23/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 11ms/step - loss: 49937.0195 - mae: 49937.0195 - val_loss: 50466.2617 - val_mae: 50466.2617
Epoch 24/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 11ms/step - loss: 49906.5078 - mae: 49906.5078 - val_loss: 50441.8750 - val_mae: 50441.8750
Epoch 25/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 12ms/step - loss: 49871.7656 - mae: 49871.7656 - val_loss: 50427.4766 - val_mae: 50427.4766
Epoch 26/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 11ms/step - loss: 49844.2656 - mae: 49844.2656 - val_loss: 50412.0742 - val_mae: 50412.0742
Epoch 27/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 12ms/step - loss: 49819.8242 - mae: 49819.8242 - val_loss: 50398.4141 - val_mae: 50398.4141
Epoch 28/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 14ms/step - loss: 49792.3281 - mae: 49792.3281 - val_loss: 50381.4492 - val_mae: 50381.4492
Epoch 29/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 12ms/step - loss: 49768.1719 - mae: 49768.1719 - val_loss: 50365.4961 - val_mae: 50365.4961
Epoch 30/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 12ms/step - loss: 49748.7383 - mae: 49748.7383 - val_loss: 50362.7266 - val_mae: 50362.7266
Epoch 31/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 12ms/step - loss: 49726.8086 - mae: 49726.8086 - val_loss: 50369.7031 - val_mae: 50369.7031
Epoch 32/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 12ms/step - loss: 49707.8945 - mae: 49707.8945 - val_loss: 50358.7617 - val_mae: 50358.7617
Epoch 33/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 12ms/step - loss: 49688.4922 - mae: 49688.4922 - val_loss: 50353.7188 - val_mae: 50353.7188
Epoch 34/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 12ms/step - loss: 49667.6328 - mae: 49667.6328 - val_loss: 50346.1133 - val_mae: 50346.1133
Epoch 35/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 12ms/step - loss: 49653.7266 - mae: 49653.7266 - val_loss: 50338.1562 - val_mae: 50338.1562
Epoch 36/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 11ms/step - loss: 49635.6641 - mae: 49635.6641 - val_loss: 50342.9648 - val_mae: 50342.9648
Epoch 37/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 11ms/step - loss: 49627.6133 - mae: 49627.6133 - val_loss: 50333.2812 - val_mae: 50333.2812
Epoch 38/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 13ms/step - loss: 49607.6094 - mae: 49607.6094 - val_loss: 50317.0156 - val_mae: 50317.0156
Epoch 39/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 4s 15ms/step - loss: 49599.8906 - mae: 49599.8906 - val_loss: 50320.8008 - val_mae: 50320.8008
Epoch 40/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 13ms/step - loss: 49586.3516 - mae: 49586.3516 - val_loss: 50316.7031 - val_mae: 50316.7031
Epoch 41/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 12ms/step - loss: 49574.8281 - mae: 49574.8281 - val_loss: 50321.3555 - val_mae: 50321.3555
Epoch 42/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 12ms/step - loss: 49568.4414 - mae: 49568.4414 - val_loss: 50316.9297 - val_mae: 50316.9297
Epoch 43/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 12ms/step - loss: 49556.1172 - mae: 49556.1172 - val_loss: 50306.1914 - val_mae: 50306.1914
Epoch 44/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 12ms/step - loss: 49544.7422 - mae: 49544.7422 - val_loss: 50305.4453 - val_mae: 50305.4453
Epoch 45/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 11ms/step - loss: 49535.4336 - mae: 49535.4336 - val_loss: 50301.3008 - val_mae: 50301.3008
Epoch 46/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 11ms/step - loss: 49525.6562 - mae: 49525.6562 - val_loss: 50302.6992 - val_mae: 50302.6992
Epoch 47/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 11ms/step - loss: 49516.7344 - mae: 49516.7344 - val_loss: 50312.6680 - val_mae: 50312.6680
Epoch 48/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 11ms/step - loss: 49506.7539 - mae: 49506.7539 - val_loss: 50312.6641 - val_mae: 50312.6641
Epoch 49/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 11ms/step - loss: 49500.2812 - mae: 49500.2812 - val_loss: 50307.3789 - val_mae: 50307.3789
Epoch 50/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 12ms/step - loss: 49490.2227 - mae: 49490.2227 - val_loss: 50311.5156 - val_mae: 50311.5156
Epoch 51/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 11ms/step - loss: 49485.6758 - mae: 49485.6758 - val_loss: 50310.9219 - val_mae: 50310.9219
Epoch 52/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 11ms/step - loss: 49476.0508 - mae: 49476.0508 - val_loss: 50301.9102 - val_mae: 50301.9102
Epoch 53/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 11ms/step - loss: 49464.6641 - mae: 49464.6641 - val_loss: 50307.7031 - val_mae: 50307.7031
Epoch 54/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 12ms/step - loss: 49459.2695 - mae: 49459.2695 - val_loss: 50307.9141 - val_mae: 50307.9141
Epoch 55/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 11ms/step - loss: 49452.8203 - mae: 49452.8203 - val_loss: 50313.3203 - val_mae: 50313.3203

In [16]:
%load_ext tensorboard

In [18]:
%tensorboard --logdir regressionlogs/fit --port 6007

Reusing TensorBoard on port 6007 (pid 82642), started 0:00:03 ago. (Use '!kill 82642' to kill it.)

In [19]:
## Evaluate model on the test data
test_loss,test_mae=model.evaluate(X_test,y_test)
print(f'Test MAE : {test_mae}')

63/63 ━━━━━━━━━━━━━━━━━━━━ 1s 7ms/step - loss: 50301.3008 - mae: 50301.3008
Test MAE : 50301.30078125

In [20]:
model.save('Model_files/regression_model.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.